<% title = 'Nouveau post'; %>
<body ng-controller="CreatePostController" ng-cloak>
    <div class="container">
        <div class="row">
            <!-- Login FORM -->
            <div class="col-md-6 col-md-offset-3">
                <h2 class="form-signin-heading">Nouveau post</h2>
                <button dropzone="dropzoneConfig" class="col-sm-10 col-sm-offset-2 block dropzone needsclick dz-clickable" ng-show="!postForm.imageUploaded">
                </button>
                <form id="post-form" ng-submit="submitPostForm()" ng-show="postForm.imageUploaded" class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="title" name="title"
                                   ng-model="postForm.title" placeholder="<%=faker.lorem.sentence()%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-2 control-label">Text</label>
                        <div class="col-sm-10">
                            <textarea id="content" name="content" class="form-control"
                                      rows="6" ng-model="postForm.content"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <span ng-show="!postForm.creating">Create Post</span>
                                <span ng-show="postForm.creating" class="fa fa-spinner"></span>
                                <span ng-show="postForm.creating">Creating Post...</span>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form>
                <img ng-show="postForm.imageUploaded" ng-src="{{postForm.image.url}}"/>
            </div>
        </div>
    </div>
</body>
