<% title = 'Pixnista'%>
<div class="container" ng-controller="DashboardController" ng-cloak>
    <div class="jumbotron">
        <h1>Bienvenue chez vous !</h1>
        <h2>C'est ici qu'on pourra retrouver les photos qu'on a postées, les amis, etc.</h2>
    </div>

    <div class="row">
        <h1>Ils ont besoin de votre aide
            <a class="btn btn-success pull-right">Poster une photo</a>
        </h1>
        <div class="col-md-1 col-xs-2 padding-1" ng-repeat="post in help">
            <a href="{{post.url}}">
                <img class="media-object image-thumb" src="{{post.imageUrl}}" alt="...">
            </a>
        </div>
    </div>


    <div class="row">
        <h1>Ils ont recu votre aide, merci à vous !</h1>
        <div class="col-md-1 col-xs-2 padding-1" ng-repeat="post in dressing">
            <div class="image-thumb-wrapper">
                <a href="{{post.url}}">
                    <img class="media-object image-thumb" src="{{post.imageUrl}}" alt="...">
                    <i class="glyphicon glyphicon-ok-sign {{post.ok ? 'ok' : 'ko'}}"></i>
                </a>
            </div>
        </div>
    </div>
</div>
