<div class="row">
    <small>
        <b><%= postComment.creator.name %></b>,
        <%= moment(postComment.createdAt).calendar()%>
        :
    </small>
    <blockquote>
        <p><%= postComment.comment %></p>
    </blockquote>
</div>
